{% extends "base.html" %} {% block content %} {% for message in
get_flashed_messages() %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %}
<h1>Welcome, {{ current_user.name|title }}!</h1>
<div class="shadow-sm p-3 mb-3 bg-body-tertiary rounded">
  <h3>Your Profile</h3>
  <form action="{{ url_for('main.profile') }}" method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.name.label(class="form-label", for="name")}} {{ form.name(
      class="form-control", id="name", value=current_user.name) }}
    </div>
    <div class="mb-3">
      {{ form.email.label(class="form-label", for="email")}} {{ form.email(
      class="form-control", id="email", value=current_user.email) }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
</div>

{% if posts %}
<h1>Your Posts</h1>
<div class="row">
  {% for post in posts %}
  <div class="col-sm-6 col-md-4 mb-3">
    <div class="card h-100 boder border-0">
      <div class="card-body">
        <h4 class="card-title">
          <a
            href="{{ url_for('main.get_post', id=post.id) }}"
            class="text-decoration-none text-body-secondary"
            >{{ post.title|title }}</a
          >
        </h4>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          By: {{ post.author.name }}
        </h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          Published: {{ post.created_at.strftime('%d/%m/%Y') }}
        </h6>
        <p class="card-text">{{ post.content }}</p>
        <a
          href="{{ url_for('main.edit_post', id=post.id) }}"
          class="btn btn-outline-primary me-1"
          >Edit</a
        >
        <a
          href="{{ url_for('main.delete_post', id=post.id) }}"
          class="btn btn-outline-danger me-2"
          >Delete</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %} {% endblock %}
